$mouseOverLightGrey: rgb(126, 126, 126);
nav {
    width: 100%;
    height: auto;
    background-color: black;
}

a {
    display: inline-block;
    color: white;
    padding: 20px;
    font-size: 24px;
    vertical-align: center;
    text-decoration: none;
}